@import '../../scss/variables';

.navigation {
    padding: 0 20px;
    .main-nav{
        padding: 10px 0px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        display: flex;
        @include md {
            flex-direction: row;
        }
    
        .nav-menu{
            display: none;
            background-color: $white;
            position:fixed;
            top:0;
            left:0;
            right:0;
            bottom: 0;
            padding: 100px 0;
            z-index: 5;
            transition: 2s ease-in-out;
            &.is-open{
                display: flex;
                animation: fadeOpen 0.3s ease-in;
            }

            @include md {
                display: flex;
            }
            
            ul{
                display:flex;
                flex-direction:column;
                width:100%;
                @include md {
                    flex-direction:row;
                }
                li{
                    a{
                        font-size: 2rem;
                        text-decoration: none;
                        display: block;
                        padding:20px;
                        text-align: center;
                        @include md {
                            font-size: 1rem;
                            display: inline-block;
                            text-align: none;
                        }
                        padding:20px;
                        &:hover, &:active{
                            @include md {
                                cursor:pointer;
                                color: $primary-hover;
                                background-color: transparent;
                            }
                            cursor:pointer;
                            background-color: $primary-hover;
                            color: $white;
                        }
            
                    }
                }
            }
            
            @include md {
                padding: 0;
                position: static;

            }

            .close-btn{
                position: absolute;
                top:30px;
                left: calc(50% - 13.5px);
                @include md {
                    display: none;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    
        .get-started{
            align-self: center;
            padding:10px 30px; 
            margin-left: auto;
            color: #fff;
            background-color: $main-color;
            &:hover, &:active{
                @include md {
                    cursor:pointer;
                }
            }
        }
        .open-btn{
            margin-left: 30px;
            box-sizing: border-box;
            padding-top: 7px;
            height: 50px;
            @include md {
                display: block;
            }
        }
    }
    

// 576px window width and more
    @include sm {
        padding: 0 10px;
    }
    // 768px window width and more
    @include md {
        padding: 0 10px;
    }
// 992px window width and more
    @include lg {
        // padding: 0 20px;
    }
// 1400px window width and more
    @include rwd(1400) {
        
    }
}

@keyframes fadeOpen {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 1;
        display:block;
    }
}
