@import '../../scss/variables';

.footer {
    position: relative;
    overflow: hidden;
    &:after{
        display: none;
        @include md {
            display: block;
        }
        content: '';
        background-image: url('../../assets/logo-icon.svg');
        background-repeat: no-repeat;
        width: 300px;
        height: 350px;
        position: absolute;
        top:-10px;
        right: -30px;
        opacity: .05;
    }
    padding: 50px 0 0;
    color: $white;
    background-color: $dark-color;
    .container{
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
        .col{
            &:first-child{
                flex: 1 0 100%;
                @include md {
                    flex: 1 0 33.3%;
                }
                padding: 0px 10px;
            }
            flex: 1 0 33.3%;
            box-sizing: border-box;
            padding: 0px 50px;
            .logo-wrapper{
                width:200px; 
                @include md {
                    width:150px; 
                    padding-left: 0px;
                }
                padding-left:40px;
            }
            h2{
                text-transform: uppercase;
                font-family: $primary-font;
                font-size: 1.2rem;
                font-weight:600;
                margin-bottom: 20px ;
                margin-top:50px;
                @include md {
                    margin-top:10px;
                }
            }
            .quicklinks{
                @include md {
                    flex: 1 0 33.3%;
                }
                li{
                    margin-bottom: 20px;
                    font-weight:300;
                    &:hover{
                        cursor:pointer;
                        color: $primary-hover;
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        color: white;
                        &:hover, &:active, &.active{
                            @include md {
                                cursor:pointer;
                                color: $primary-hover;
                                background-color: transparent;
                            }
                            cursor:pointer;
                            background-color: $primary-hover;
                            color: $white;
                        }
                    }
                }
            }
            .download-section{
                @include md {
                    padding-left: 0px;
                    margin-top: 30px;
                }
                padding-left:50px;
                margin-top: 10px;
                a{
                    display: inline-block;
                    img{
                        height: 40px;
                    }
                    &:first-child{
                        margin-right: 10px;
                    }
                }
            }
            .contact{
                li{
                    margin-bottom: 20px;
                    a{
                        font-weight:300;
                        margin-bottom:15px;
                        i{
                            font-size:12px;
                        }
                        &:hover{
                            cursor:pointer;
                            color: $primary-hover;
                        }
                    }
                }
            }
            .socials{
                display:flex;
                li{
                    a{
                        margin-right:10px;
                        &:hover{
                            cursor:pointer;
                            color: $primary-hover;
                        }
                    }
                }
            }
        }
    }

    .bottom-footer{
        background-color: rgba(0,0,0,.4);
        font-size: 0.8rem;
        color: #777;
        text-align: center;
        margin-top: 20px;
        padding: 20px 0;
    }

// 576px window width and more
    @include sm {
        // padding: 0 20px;
    }
// 992px window width and more
    @include lg {
        // padding: 0 20px;
    }
// 1400px window width and more
    @include rwd(1400) {
        
    }
}

// .navigation {
//     padding: 0 15px;
// // 576px window width and more
//     @include sm {
//         padding: 0 20px;
//     }
// // 992px window width and more
//     @include lg {
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 1100px;
//     }
// // 1400px window width and more
//     @include rwd(1400) {
//         margin-bottom: 20px;
//         margin-top: 20px;
//     }
// }
