@import '../../scss/variables';

.fleet-banner {
    background-image: url('../../assets/images/cargo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
    .fleet-banner-content{
        width: 100%;
        color: $white;
        text-align: center;
        background: rgb(0,100,181);
        background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, rgba(25, 26, 27, 0.8) 13%, rgba(54, 54, 54, 0.9) 100%);
        padding: 100px 10px;
        box-sizing: border-box;
        @include md {
            background: linear-gradient(180deg, rgba(10, 10, 10, 0.9) 0%, rgba(25, 26, 27, 0.8) 13%, rgba(54, 54, 54, 0.9) 100%);
            padding: 100px 10%;
        }
        @include lg {
            padding: 100px 30%;
            width: 100%;
        }
        h1{
            margin:10px 0px 10px;
            line-height: 3rem;
            font-family: $primary-font;
            font-weight: 400;
            font-size: 2.5rem;
        }
        p{
            line-height: 1.5rem;
        }
    }
}

.fleet-section{
    background-color: rgba(120, 180, 240, 0.7   );
    &:first-of-type{
        background-color: rgba(250, 209, 95, 0.7);
    }   

    @include md {
        padding: 80px 0;
    }
    padding: 40px 0;
    .container{
        display: flex;
        flex-direction: column;
        @include md {
            flex-direction: row;
        }
        .col{
            @include md {
                flex: 1 0 33.3%;
                padding: 20px;
                text-align: right;
            }
            box-sizing: border-box;
            padding: 20px;
            text-align: center;
            h2{
                font-family: $primary-font;
                font-size: 2rem;
                font-weight:600;
                margin: 10px 0;
            }
            p{
                font-family: $secondary-font;
                font-size: 1.4rem;
                line-height: 1.5rem;
                font-weight: 300;
            }
            ul{
                li{
                    font-size: 1rem;
                    margin-top: 10px;
                    strong{
                        font-weight: 600;

                    }
                }
            }
            img{
                @include md {
                    max-height: 300px;
                }
                max-height: 200px;
            }

            &:first-child{
                @include md {
                    text-align: left;
                }
                text-align: center;
            }
        }
    }

    // 576px window width and more
    @include sm {
        // padding: 0 20px;
    }
// 992px window width and more
    @include lg {

    }
// 1400px window width and more
    @include rwd(1400) {
        
    }
}