@import '../scss/media-queries';


$main-color: rgb(0, 100, 181);
$primary-hover:rgb(57, 158, 241);
$dark-color: #1C1C1C;
$white: #ffffff;
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Roboto', sans-serif;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;